nav{
    box-shadow: 1px 1px 1px 1px rgba(52, 52, 52, 0.2);
}

.navbar-brand{
    margin-left: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-bottom: 5px;
}

.nav-item{
    margin-left: 20px;
    margin-top: 9px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#logoutButton{
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.background{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(../images/cop2.png);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

.container{
    background-color: white;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    border-radius: 10px;
}

#contactform{
    border-right: solid 10px #005BA6;
}

.addcontact{
    padding: 15px;
    text-align: center;
}

h3{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 2rem; 
    margin-top: 20px;
}

.inputGroup {
    text-align: left !important;
    margin-bottom: 1rem; 
}

.inputGroup label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    margin-left: 5px; 
}

.inputGroup input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #ededed;
    text-align: left;
    padding: 10px;
    font-size: 15px;
    color: #7c7c7c;
    font-weight: 250;
}

#addbtn, #clearbtn{
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    text-align: center;
}

.tabledesign{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.search-box{
    margin-top: 20px;
    flex-grow: 1;
    min-width: 18rem;
}

.row-search{
    border-radius: 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#input-box{
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

.img-b{
    background: transparent;
    border: none;
}

.searchimg{
    width: 27px;
    height: 27px;
}

.searchimg:hover{
    cursor: pointer;
}

::placeholder{
    color: #555;
}

.result-box{
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px #005BA6;
}

.footerinfo{
	background-color: #ab946b;
	position: fixed;
	bottom: 0;
	width: 100vw;
    height: 60px;
}
