nav{
    box-shadow: 1px 1px 1px 1px rgba(52, 52, 52, 0.2);
}

.navbar-brand{
    margin-left: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-bottom: 5px;
}

.nav-item{
    margin-left: 20px;
    margin-top: 9px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#logoutButton{
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.background{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(../images/cop2.png);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

.container{
    background-color: white;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    border-radius: 10px;
}

#contactform{
    border-right: solid 10px #005BA6;
}

.addcontact{
    padding: 15px;
    text-align: center;
}

h3{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 2rem; 
    margin-top: 20px;
}

.inputGroup {
    text-align: left !important;
    margin-bottom: 1rem; 
}

.inputGroup label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    margin-left: 5px; 
}

.inputGroup input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #ededed;
    text-align: left;
    padding: 10px;
    font-size: 15px;
    color: #7c7c7c;
    font-weight: 250;
}

#addbtn, #clearbtn{
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    text-align: center;
    background-color: #005BA6;
    transition: 0.1s;
}

#addbtn:hover, #clearbtn:hover{
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    text-align: center;
    border: 1px solid #005BA6;
    background-color: white;
    color: #005BA6;
    transition: 0.1s;
}

.loggedInDiv{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 24px;
}

.tabledesign{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

#searchDiv, #refDiv{
    margin-top: 10px;
}

.search-box{
    flex-grow: 1;
    min-width: 18rem;
}

.row-search{
    border-radius: 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#input-box{
    font-family: 'Roboto', serif;
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

.img-b, .img-r{
    background: transparent;
    border: none;
}

.searchimg, .refreshimg{
    width: 27px;
    height: 27px;
}

.refclass{
    font-family: 'Roboto', serif;
    border-radius: 10px;
    background-color: #ededed;
    padding: 10px 20px;
}

.refclass:hover{
    background-color: #A4A4A4;
    transition: 0.3s;
}

::placeholder{
    color: #555;
}

.tableDiv{
    margin-top: 20px;
}

.tbl-content{
    height: 350px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid #005BA6;
    border-radius: 10px;
    display: block;
}

table{
    width: 100%;
    table-layout: fixed;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#contacts td,
#contacts th{
    border: 1px solid #005BA6;
}

#contacts th{
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: #005BA6;
    text-transform: uppercase;
}


#contacts td {
    text-align: left;
    padding: 5px 10px 5px 10px;
    font-family: 'Roboto', serif;
    vertical-align: middle;
    font-size: 14px;
}

#contacts td:last-child{
    text-align: center !important;
}

#contacts input{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#contacts td span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 100%;
    color: #000000;
}

.footerinfo{
	background-color: #ab946b;
	position: fixed;
	bottom: 0;
	width: 100vw;
    height: 60px;
}
